<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Address Book</title>
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/<%= cssPage %>.css">
        <link rel="stylesheet" href="/css/react-day-picker-style.css">
    </head>
    <body>
        <div id='app'></div>

        <script type="text/javascript" src="/build/main.client_bundle.js"></script>
        <script type="text/javascript" src="/build/vendors.client_bundle.js"></script>
    </body>
</html>