.wrapper {
  background: #e1e1e1;
  height: 100%;
}

nav {
  height: 50px;
  background: #47eaff;
  font-weight: normal;
  padding-top: 10px;
  margin-bottom: 30px;

  h2 {
    margin: 0;
    font-size: 25px;
    color: #fff;
  }
}