.contact-form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .form-control {
    border-radius: 0;
    margin: 5px;
  }

  button {
    border: none;
    padding: 7px 10px;
    background: #02be4a;
    color: #fff;
    outline: none;
    border-radius: 0;
    &:hover {
      opacity: 0.7;
    }
  }
}